body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dim-container {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.token-container {
    width: 500px;
    overflow: auto;
}

.hidden {
    display: none;
}