<div class={{ if this.showSelfContent '' 'hidden' }}>
    <div class="token-container">
        {{#if this.token}}
        token after authentication: {{this.token}}
        {{else}}
        No token yet
        {{/if}}
    </div>
    <button type='button' {{ on 'click' this.doConnect}} disabled={{this.loanConnected}}>
        {{#if this.loanConnected}}
        Loan is connected
        {{else}}
        Click to connect loan
        {{/if}}
    </button>
</div>
<div id='connect-loan-dim-container' class={{if this.loanConnecting "dim-container" }}></div>